html, body {
  height: 100%;
}

body {
  font-family: 'Amiri Quran', serif;
  line-height: 1.2;
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'EB Garamond', serif;
}

.sections {
  position: relative;
  display: flex;
  overflow: auto;
}

.sections::before {
  background: linear-gradient(90deg, white, transparent);
  position: fixed;
  height: 100%;
  width: 50px;
  content: "";
}

.no-space {
  margin: 0;
  padding: 0;
}

.intro-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  gap: 10px;
  padding: 50px;
  box-sizing: border-box;
}

.intro-description {
  display: flex;
  flex-direction: column;
}

.subpages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0px;
}

.section {
  box-sizing: border-box;
  min-width: 450px;
  width: 450px;
  padding: 50px;
}